.box{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.view:hover{
  background-color: orange;
  /*color: white;*/
  opacity: 0.3;
  border-radius: 2px;
}
.view{
  width: 90%;
  padding-top: 10px;
  padding-bottom: 10px;
  color:black;
  font-size:12px;
  cursor: pointer;
  padding-top: 20px;
  padding-bottom: 20px;
}
.view_large:hover{
  background-color: rgba(255, 255, 255, 0.3);
  color: black;
}
@keyframes loading_anim {
  from{
    transform: rotate(0deg);
  }
  from{
    transform: rotate(360deg);
  }
}
.loading{
  animation: loading_anim 1s linear 0s infinite reverse forwards;
}
@keyframes alert_anim {
  0%{
    transform: rotate(30deg);
  }
  30%{
    transform: rotate(-30deg);
  }
  60%{
    transform: rotate(30deg);
  }
  100%{
    transform: rotate(-30deg);
  }
}
.alert{
  animation: alert_anim 3s linear 0s infinite alternate forwards;
}
.up{
  width: 85%;
}
.up:hover{
  width: 90%;
  background-color: green;
}

.view1:hover{
  color: orange;
}
@keyframes fail_anim1 {
  0%{
    /* width: 0px; */
    right: -100%;
    opacity: 1;
  }
  50%{
    opacity: 1;
  }
  100%{
    /* width: 200px; */
    right: 0px;
  }
}
@keyframes fail_anim2 {
  0%{
    right: 0px;
  }
  10%{
    right: 100px;
  }
  50%{
    right: -100%;
    opacity: 0;
  }
  100%{
    opacity: 0;
  }
}

.fail{
  animation: fail_anim1 0.3s linear 0s 1 alternate forwards,fail_anim2 1s linear 4s 1 alternate forwards;
  position: absolute;
  top: 0%;
  right: 0%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: red;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  /* text-wrap: nowrap; */
  width: 200px;
  border-radius: 10px;
  font-size: 10px;
  text-align: justify;
  line-height: 1;
  border: 3px solid rgb(18,24,28);
  box-shadow: 0px 0px 3px rgb(18,24,28);
  
}
.success{
  animation: fail_anim1 0.6s linear 0s 1 alternate forwards,fail_anim2 1s linear 4s 1 alternate forwards;
  position: absolute;
  top: 0%;
  right: 0%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: aquamarine;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: rgb(100,100,100);
  /* text-wrap: nowrap; */
    width: 200px;
  border-radius: 10px;
  font-size: 10px;
  text-align: justify;
  line-height: 1;
  border: 3px solid rgb(18,24,28);
  box-shadow: 0px 0px 3px rgb(18,24,28);
}