:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --but-orange: #fd7d14cc;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

html,body{
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
  font-family: poppins;
}
*{
  -webkit-tap-highlight-color: transparent;
}

@font-face{
  font-family: "poppins";
  src: url("./assets/poppins.TTF");
}
@font-face{
  font-family: "poppins-light";
  src: url("./assets/POPPINS-LIGHT.TTF");
}
@font-face{
  font-family: "poppins-bold";
  src: url("./assets/POPPINS-BOLD.TTF");
}
/* ------------------------------------SMALL---------------------------------- */
@media screen and (max-width: 700px) {
  .small_main{
    display: flex;
  }
  .large_main{
    display: none;
  }
  #small_home{
    display: flex;
  }
  #small_business{
    display: flex;
  }
  #small_menu{
    display: flex;
  }
  #large_home{
    display: none;
  }
  #large_business{
    display: none;
  }
  #large_menu{
    display: none;
  }
  #note_main{
    width: 30%;
    height: 15%;
    top:0%;
    right: 2%;
  }
  .screen1{
    display: none;
  }
  .screen2{
    display: flex;
    width: 100%;
    height: 100%;
    padding-left: 2%;
    padding-right: 2%;
    box-sizing: border-box;
  }
  .screen1_notif{
    display: none;
  }
  .screen2_notif{
    display: flex;
  }
  .small_profile{
    display: flex;
  }
  .large_profile{
    display: none;
  }
  .set1{
    width: 80%;
  }
  .logout1{
    width: 70%;
  }
  .left_bar{
    width: 0%;
    /* display: none; */
  }
  .auth_left_bar{
    width: 0%;
  }
  .auth_body{
    width: 100%;
  }
  .body{
    width: 100%;
  }
    .body_content{
    height: 85%
  }
  .body_bottom_bar{
    height: 15%;
  }
  .box_grid{
    grid-template-columns: repeat(1, 1fr);
  }
  .box_bottom_card_small{
    display: flex;
  }
  .box_bottom_card_large{
    display: none;
  }
  .bus_header{
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 30%;
    width: 98%;
  } 
  .bus_header1{
    width: 100%;
    height: 40%
  }
  .menu_header1{
    width: 100%;
    height: 40%;
  }
  .bus_header2{
    flex-direction: column;
    width: 100%;
    height: 45%;
    align-items: start;
    justify-content: space-around;
  }

  .bus_search1{
    width: 100%;
    height: 100%;
    background-color: rgb(220,220,220);
  }
  .bus_search2{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    color: rgb(100,100,100);
    font-size: 10px;
  }
  .bus_body{
    height: 69%;
  }
  .filter-bus1{
    width: 100px;
  }
  .bus_small_table_header{
    display: flex;
  }
  .bus_large_table_header{
    display: none;
  }
  .menu_small_table_header{
    width: 30%;
  }
  .menu_large_table_header{
    display: none;
    width: 0%;
  }
  .menu_th{
    width: 20%;
  }
  .profile_card{
    grid-template-columns: repeat(1, 1fr);
  }
  .seek_logout{
    width: 60%;

  }
}
/* ----------------------------BIG------------------------------------------ */
@media screen and (min-width: 701px) {
  .small_main{
    display: none;
  }
  .large_main{
    display: flex;
  }
  #small_home{
    display: none;
  }
  #small_business{
    display: none;
  }
  #small_menu{
    display: none;
  }
  #large_home{
    display: flex;
  }
  #large_business{
    display: flex;
  }
  #large_menu{
    display: flex;
  }
  #note_main{
    width: 15%;
    height: 15%;
    top:0%;
    right: 2%;
  }
  .screen1{
    display: flex;
  }
  .screen2{
    display: flex;
    width: 70%;
    height: 100%;
  }
  .screen1_notif{
    display: flex;
  }
  .screen2_notif{
    display: none;
  }
  .small_profile{
    display: none;
  }
  .large_profile{
    display: flex;
  }
  .set1{
    width: 60%;
  }
  .logout1{
    width: 40%;
  }
  .left_bar{
    /* width: 20%; */
    width: 260px;
    /* display: flex; */
  }
  .auth_left_bar{
    width: 50%;
  }
  .auth_body{
    width: 50%;
  }
  .body{
    width: 80%;
  }
  .body_content{
    height: 100%
  }
  .body_bottom_bar{
    height: 0%;
  }
  .box_grid{
    grid-template-columns: repeat(3, 1fr);
  }
  .box_bottom_card_small{
    display: none;
  }
  .box_bottom_card_large{
    display: flex;
  }
  .bus_header{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 10%;
    width: 90%;
  }
  .bus_header1{
    width: 30%;
    height: 80%;
  }
  .menu_header1{
    width: 30%;
    height: 80%;
  }
  .bus_header2{
    flex-direction: row;
    width: 50%;
    height: 80%;
    align-items: center;
    justify-content: start;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    overflow-x: clip;
  }
  .bus_search1{
    width: 60%;
    height: 100%;
    font-size: 10px;
    background-color: transparent;
  }
  .bus_search2{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    text-wrap: nowrap;
    overflow: scroll;
    font-size: 10px;
  }
  .bus_body{
    height: 90%;
  }
  .filter-bus1{
    width: 200px;
  }
  .bus_small_table_header{
    display: none;
  }
  .bus_large_table_header{
    display: flex;
  }
  .menu_small_table_header{
    width: 20%;
  }
  .menu_large_table_header{
    display: flex;
    width: 20%;
  }
  .menu_th{
    width: 10%;
  }
  .profile_card{
    grid-template-columns: repeat(2, 1fr);
  }
}

::-webkit-scrollbar{
  width: 0%;
  height: 0%;
}

 input{
  background-color: transparent;
  border-color: transparent;
  color: black;
  border: 1px solid rgb(230,230,230);
  border-radius: 7px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  font-family: "poppins";
  
}
input:focus{
  outline: none;
  /* border: 2px solid #fd7d14cc; */
  border-radius: 7px;
  box-shadow: 0px 0px 2px rgba(200,200,200,0);
}
.box_card{
    box-shadow: 0px 10px 2px rgb(220,220,220),0px 0px 4px rgb(220,220,220);
    /* cursor: pointer; */
    width: 95%;
    /* aspect-ratio: 2/1; */
    /* height: 90px;
    overflow: auto; */
}
.box_card:hover{
    box-shadow: 0px 10px 17px rgb(220,220,220);
    width: 100%;
    /* height: 100px; */
}
